.post-list {
  padding-top: 20px; 
  padding-bottom: 20px;
  @media (min-width: 768px) {
    padding-top: 40px; 
    padding-bottom: 40px;
  }
}

.post-list__list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 20px;
  @media (min-width: 768px) {
    // grid-auto-rows: 1fr;

    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }
  @media (min-width: 1440px) {
    grid-template-columns: repeat(3, 1fr);
  }
  
}

.post-list__list-item {
  list-style: none;
  // height: 100%;
  display: grid;  
}

.post {
  position: relative;
  border-radius: 10px;
  padding: 40px 20px 20px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .post-list__list-item + .post-list__list-item {
  margin-top: 40px;
} */


.post__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 10px 0;

  .cta {
    position: absolute;
    right: 15px;
    top: 10px;
  }  
}

.post__footer {
  padding: 10px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 0.9em;

  @media (min-width: 768px) {
    padding-top: 30px;
  }
}

.cta-wrapper {
  padding-top: 20px;
}

.post__footer a {
  margin-left: 10px;
}

.post__title {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0 40px;

  a {
    text-decoration: none;
  }
}

.post__date span {
  color: #61dafb;
}
